body {
  margin: 0;
}

.circle {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 7px solid red;
  animation: circle 2s ease infinite 0s;
}
@keyframes circle {
  0% {
    width: 10px;
    height: 10px;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
