
body {
    margin: 0;
    width: 400%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    animation: slides 20s ease infinite 1s;
  }

  img {
    margin: 0;
    width: 25%;
    height: 100%;
    object-fit: cover;
  }
  @keyframes slides {
    0%,
    100% {
      transform: translateX(0%);
    }
    8% {
      transform: translateX(0%);
    }
    16% {
      transform: translateX(25%);
    }
    32% {
      transform: translateX(25%);
    }
    40% {
      transform: translateX(50%);
    }
    48% {
      transform: translateX(50%);
    }
    56% {
      transform: translateX(75%);
    }
    64% {
      transform: translateX(75%);
    }
    72% {
      transform: translateX(50%);
    }
    80% {
      transform: translateX(50%);
    }
    88% {
      transform: translateX(25%);
    }
    92% {
      transform: translateX(25%);
    }
  }